html {
  font-size: 14px;
}

body {
  font-family: 'Monoton', cursive;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  color: #399bd1;
}

.container {
  width: 90%;
  margin: 0 auto;
}
/* header */

.navbar-default {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar-default .navbar-nav>.active>a {
  background-color: inherit;
  color: #399bd1;
}


/*jumbotron*/
.jumbotron {
  text-align: center;
}

.jumbotron-bike {
  background-image: url("../img/jumbotron-bike.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  align-self: center;
}

.jumbotron h1 {
  font-family: 'Monoton', cursive;
  font-size: 7.1rem;
  color: white;
  text-shadow: -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000;
}

.jumbotron p {
  font-size: 2rem;
  color: white;
  width: 51.3rem;
  margin: 0 auto;
  padding-bottom: 2.8rem;
}

.jumbotron-text {
  padding: 11.85rem 0;
}

.wrapper .btn {
  width: 11.4rem;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 1.3rem 0;
}

.wrapper .btn:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.wrapper .btn:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}
/* featured */

.featured {
  margin: 0 auto;
}
.featured img {
  width: 100%;
  height: auto;
  align-self: center;
}


#featured-text h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

#product-categories h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #399bd1;
}


/* projects */

.project img {
  width: 100%;
  height: auto;
  align-self: center;
}

/* having trouble */
#learn-more {
  text-align: center;
}
